<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
	  xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	  autoReload="true"
	  internalLogLevel="Info">
		<!-- the targets to write to -->
		<targets>
			<!-- write logs to file  -->
			<target xsi:type="File" name="allfile" fileName="C:\logs\XPN-BureauAdaptor.log"
				layout="${longdate}|${event-properties:item=EventId_Id}|${uppercase:${level}}|LOCATION=${callsite:className=true:methodName=true}|${logger}|${message} ${exception:format=tostring}"
				archiveFileName="C:\logs\Archive\XPN-BureauAdaptor.{#}.log"
				archiveNumbering="Date"
				maxArchiveFiles="7"
				archiveEvery="Day"/>

			<target xsi:type="Mail" name="mail"
				smtpServer="exch.informativeresearch.com"
				subject="${machinename} - QA XPN Adaptor exception (${shortdate:format=dd. MM. yyyy})"
				from="no-reply@informativeresearch.com"
				to="istechsupport@informativeresearch.com"
				layout="${longdate}   LEVEL=${uppercase:${level}},   LOCATION=${callsite:className=true:includeSourcePath=true:methodName=true},
						  MESSAGE=${message}${newline} EXCEPTION=${exception:format=tostring,StackTrace}${newline}" />
		</targets>

		<!-- rules to map from logger name to target -->
		<rules>
			<!--All logs, including from Microsoft-->
			<logger name="*" minlevel="Info" writeTo="allfile" />
			<logger name="*" minlevel="Error" writeTo="mail" />
		</rules>
	</nlog>
</configuration>